In [0]:
#Importing necessary libraries
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum,col, count,desc,when,concat,lit
spark=SparkSession.builder.appName('Pyspark Practice').getOrCreate()

In [0]:
#Loading File
Filepath='dbfs:/FileStore/bank.csv'

df=spark.read.csv(Filepath,header=True, inferSchema=True)
#df.describe()
#df.printSchema()
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [0]:
#Apply some dataframe functions
#df_groupby=df.groupBy("deposit").agg(count("*").alias("count"))
df_groupby=df.groupBy("job","marital").agg(sum("balance").alias("sum_of_balance"))
df_orderby=df_groupby.orderBy(desc("sum_of_balance"))
df_orderby.show()

+-------------+--------+--------------+
|          job| marital|sum_of_balance|
+-------------+--------+--------------+
|   management| married|       2561712|
|  blue-collar| married|       1722351|
|   management|  single|       1530268|
|      retired| married|       1526151|
|   technician| married|       1462384|
|   technician|  single|       1140197|
|       admin.| married|        822432|
|     services| married|        663676|
|       admin.|  single|        585175|
|      student|  single|        525091|
|   management|divorced|        510561|
|  blue-collar|  single|        484383|
| entrepreneur| married|        436422|
|self-employed| married|        351616|
|      retired|divorced|        319844|
|   unemployed| married|        254991|
|     services|  single|        254178|
|self-employed|  single|        249471|
|    housemaid| married|        238777|
|   technician|divorced|        234544|
+-------------+--------+--------------+
only showing top 20 rows

In [0]:
#Get summary of each column
df_summary=df.describe()
#df_summary.show()
pandas_df=df_summary.toPandas().transpose()
print(pandas_df)

               0                   1                   2         3        4
summary    count                mean              stddev       min      max
age        11162  41.231947679627304  11.913369192215518        18       95
job        11162                None                None    admin.  unknown
marital    11162                None                None  divorced   single
education  11162                None                None   primary  unknown
default    11162                None                None        no      yes
balance    11162  1528.5385235620856   3225.413325946149     -6847    81204
housing    11162                None                None        no      yes
loan       11162                None                None        no      yes
contact    11162                None                None  cellular  unknown
day        11162  15.658036194230425   8.420739541006462         1       31
month      11162                None                None       apr      sep
duration   11162  371.99381831213043  347.12838571630687         2     3881
campaign   11162   2.508421429851281  2.7220771816614824         1       63
pdays      11162   51.33040673714388  108.75828197197717        -1      854
previous   11162  0.8325568894463358   2.292007218670508         0       58
poutcome   11162                None                None   failure  unknown
deposit    11162                None                None        no      yes

In [0]:
#to check null and nan values
#df.printSchema()
df_null_nan=df.select(*[when(col(c).isNull(),True).otherwise(False).alias(c + "_isnull") for c in df.columns])
pandasdf=df_null_nan.toPandas()
#print(pandasdf)

#to get a summary of non null and null values

df_null_nonnull_summ=df.agg(*[sum(when(col(c).isNotNull(),1).otherwise(0)).alias(c + "_isnull") for c in df.columns])
df_null_nonnull_summ_pandas=df_null_nonnull_summ.toPandas()
df_null_nonnull_summ_pandas

,age_isnull,job_isnull,marital_isnull,education_isnull,default_isnull,balance_isnull,housing_isnull,loan_isnull,contact_isnull,day_isnull,month_isnull,duration_isnull,campaign_isnull,pdays_isnull,previous_isnull,poutcome_isnull,deposit_isnull
0,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162,11162

In [0]:
#sum_of_bal=df.agg(sum(col("balance")))

df_filter=df.filter(col("age")<30)

#df_filter.show()

#df_filter.count()

df_filter.toPandas().transpose()

,0,1,2,3,4,5,6,7,8,9,...,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550
age,28,29,28,28,26,23,29,26,29,24,...,25,26,28,27,26,28,25,25,27,26
job,services,management,admin.,blue-collar,blue-collar,entrepreneur,management,blue-collar,admin.,technician,...,technician,services,technician,services,services,technician,services,services,management,admin.
marital,single,married,divorced,single,single,single,married,married,single,single,...,single,single,single,single,single,single,married,single,single,married
education,secondary,tertiary,secondary,secondary,secondary,primary,tertiary,secondary,secondary,secondary,...,secondary,secondary,secondary,secondary,secondary,secondary,secondary,secondary,tertiary,secondary
default,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
balance,5090,199,785,759,82,4,10576,246,163,409,...,173,531,3,139,162,2000,50,199,390,714
housing,yes,yes,yes,yes,yes,yes,no,yes,yes,yes,...,yes,yes,no,no,yes,no,yes,no,no,yes
loan,no,yes,no,no,no,no,no,no,yes,no,...,no,yes,no,no,no,no,no,no,no,no
contact,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,...,cellular,cellular,telephone,cellular,cellular,telephone,unknown,cellular,cellular,unknown
day,6,7,8,9,9,13,15,16,16,16,...,15,6,18,25,2,3,5,16,28,28
month,may,may,may,may,may,may,may,may,may,may,...,may,feb,may,jul,mar,feb,may,aug,oct,may
duration,1297,1689,442,710,654,395,1224,1143,803,912,...,186,184,40,165,185,226,342,111,190,183
campaign,3,4,2,1,1,2,2,3,1,1,...,2,1,8,3,2,2,1,2,1,1
pdays,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,349,-1,130,-1,-1,95,82,-1
previous,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,8,0,0,3,1,0
poutcome,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,...,unknown,unknown,failure,unknown,other,unknown,unknown,other,success,unknown
deposit,yes,yes,yes,yes,yes,yes,yes,yes,yes,yes,...,no,no,no,no,no,no,no,no,no,no

In [0]:
#select all columns and copy a dataframe

df_select_all=df.select("*")

df_select_all.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [0]:
#adding a new column in a datafrme

new_column_exm_1=df_select_all.withColumn('new_column',df_select_all.age)
#new_column_exm_1.show()

#alternate method to add new column

new_column_exm_2=df_select_all.withColumn('new_column',col("job"))
#new_column_exm_2.show()

#adding new column by concatenation of 2 columns

new_column_exm_3=df_select_all.withColumn('new_column',concat(col('age'),lit("_"),col('job')))
new_column_exm_3.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+--------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|    new_column|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+--------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|     59_admin.|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|     56_admin.|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes| 41_technician|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|   55_services|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|     54_admin.|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes| 42_management|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes| 56_management|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|    60_retired|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes| 37_technician|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|   28_services|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|     38_admin.|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|30_blue-collar|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes| 29_management|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|46_blue-collar|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes| 31_technician|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes| 35_management|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|32_blue-collar|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|   49_services|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|     41_admin.|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|     49_admin.|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+--------------+
only showing top 20 rows

In [0]:
#dropping a column from a dataframe
df_copy=df.select("*")

df_droped_col=df_copy.drop(col("age"))
df_droped_col.show()

+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [0]:
#Rename the column name

df_rename=df_copy.withColumnRenamed('age','age_new')
df_rename.show()

#example of how pyspark dataframes are immutable
df_copy.withColumnRenamed('age','age_new')
#df_copy.show()

+-------+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age_new|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+-------+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|     59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
|     56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
|     41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
|     55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
|     54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
|     42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
|     56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
|     60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
|     37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
|     28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
|     38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
|     30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
|     29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
|     46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
|     31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
|     35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
|     32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
|     49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
|     41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
|     49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+-------+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

Out[36]: DataFrame[age_new: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, deposit: string]

In [0]:
#get distinct rows

#df_copy.count()

df_copy.distinct().count()

Out[39]: 11162

In [0]:
#apply limit to get sample

df_copy.limit(15).show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+

In [0]:
#union

df_copy.union(df_copy).count()

Out[47]: 22324

In [0]:
#join
df_join1=df.alias('df1')

df_join2=df.alias('df2')

df_final_join=df_join1.join(df_join2,df_join1['job']==df_join2['job'],'inner')

df_final_join.show()

+---+------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---+------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|   job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|age|   job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---+------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 43|admin.|  single|secondary|     no|     35|     no|  no|telephone|  9|  nov|     208|       1|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 30|admin.| married|secondary|    yes|     23|     no| yes| cellular|  4|  feb|     149|       2|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 52|admin.|divorced|secondary|     no|     48|     no| yes| cellular| 17|  nov|     591|       1|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 43|admin.| married|secondary|     no|    616|    yes|  no|  unknown|  9|  may|     168|       2|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 45|admin.| married|secondary|     no|     25|    yes|  no|  unknown| 28|  may|      82|       4|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 54|admin.| married|  primary|     no|      0|     no|  no| cellular| 30|  jul|     255|       2|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 26|admin.| married|secondary|     no|    714|    yes|  no|  unknown| 28|  may|     183|       1|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 42|admin.| married|secondary|     no|   6445|    yes|  no|  unknown|  2|  jun|      20|       8|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 33|admin.|  single| tertiary|     no|    193|     no|  no|  unknown|  5|  may|     132|       2|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 39|admin.|  single|secondary|     no|      0|     no| yes|  unknown| 19|  jun|     142|       1|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 32|admin.|  single|secondary|     no|   4344|    yes|  no| cellular| 17|  nov|      79|       2|  118|       3| failure|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 34|admin.| married|secondary|     no|   1499|    yes|  no| cellular| 13|  apr|     186|       1|  327|       2| failure|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 37|admin.| married|secondary|     no|     68|    yes| yes| cellular| 13|  may|     151|       2|  351|       1| failure|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 57|admin.| married|secondary|     no|    808|     no|  no| cellular| 14|  jul|     417|       3|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 31|admin.|  single|secondary|     no|    690|     no|  no| cellular|  4|  may|      10|       4|   87|      12| failure|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 48|admin.| married|secondary|     no|   2235|    yes| yes|  unknown| 15|  may|     755|       2|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 32|admin.| married|secondary|     no|   3540|    yes|  no| cellular| 18|  may|     213|       1|  178|       1| failure|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 42|admin.| married|secondary|     no|     12|    yes|  no| cellular| 16|  apr|     466|       4|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 37|admin.|  single|secondary|     no|    309|    yes|  no| cellular| 15|  may|      58|       3|   -1|       0| unknown|     no|
| 59|admin.|married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes| 41|admin.|  single|secondary|     no|      0|     no|  no|telephone| 25|  jul|     286|       2|   -1|       0| unknown|     no|
+---+------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---+------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [0]:
#sampling a dataframe

df_sample=df_copy.sample(withReplacement=True,fraction=0.2)
df_sample.count()

Out[66]: 2276

In [0]:
#Pivot example

df_pivot=df_copy.groupBy('age').pivot('job').sum('age')
df_pivot.show()

+---+------+-----------+------------+---------+----------+-------+-------------+--------+-------+----------+----------+-------+
|age|admin.|blue-collar|entrepreneur|housemaid|management|retired|self-employed|services|student|technician|unemployed|unknown|
+---+------+-----------+------------+---------+----------+-------+-------------+--------+-------+----------+----------+-------+
| 31|  1829|       2511|         372|      124|      4402|   null|          713|    1395|    310|      2945|       682|     93|
| 85|  null|       null|        null|     null|      null|    425|         null|    null|   null|      null|      null|   null|
| 65|   130|       null|         130|       65|       195|   1105|         null|    null|   null|      null|        65|     65|
| 53|  1219|       2067|         424|      530|      2544|    530|          318|     742|   null|      2014|       265|    159|
| 78|  null|       null|        null|     null|        78|   1326|         null|    null|   null|      null|      null|     78|
| 34|  2618|       2992|         476|      408|      4080|     34|          510|    1224|    102|      3060|       306|     34|
| 81|  null|       null|        null|     null|      null|    729|         null|    null|   null|      null|      null|   null|
| 28|  1176|       1680|          28|       28|      1736|   null|          532|     672|    840|      1176|       252|     56|
| 76|  null|       null|        null|      152|        76|   1292|           76|    null|   null|      null|      null|   null|
| 27|   918|       1215|          81|       81|      1107|   null|          216|     864|    810|      1161|       135|     54|
| 26|   936|       1222|          78|     null|      1014|   null|          182|     624|    728|      1014|       286|     26|
| 44|  1276|       2244|         484|      308|      2508|   null|          660|     924|   null|      1716|       352|   null|
| 22|   110|         44|        null|       22|        66|   null|           44|      66|    660|        22|        22|   null|
| 93|  null|       null|        null|     null|      null|    186|         null|    null|   null|      null|      null|   null|
| 47|  1692|       2726|         376|      564|      2350|    141|          282|     940|     47|      2209|       517|    141|
| 52|   988|       2132|         416|      416|      2288|    520|          416|    1092|   null|      1716|       624|     52|
| 86|  null|       null|        null|     null|      null|    430|         null|    null|   null|      null|      null|   null|
| 40|  1720|       3120|         440|      280|      2560|    160|          360|    1520|     80|      2120|       680|   null|
| 20|    20|         40|        null|     null|      null|   null|         null|    null|    340|      null|      null|   null|
| 57|  1140|       1083|         456|      570|      2679|   2223|          114|     513|   null|      1311|       342|     57|
+---+------+-----------+------------+---------+----------+-------+-------------+--------+-------+----------+----------+-------+
only showing top 20 rows

In [0]:
#drop duplicates

df_drop_dups=df_copy.drop_duplicates()
#df_drop_dups.count()

df_count_of_age=df_copy.select('age').count()
#df_count_of_age

#print(df_count_of_age)

#df_count_of_age=df_copy.groupBy('age').count()
#df_count_of_age.show()

list=['age']
df_drop_dups_spec=df_copy.drop_duplicates(list)
#df_drop_dups_spec.count()

11162